
.title {
    margin: 0 auto;
    text-align: center;
}

.box {
    border: 2px solid #333;
    border-radius: .3em;
    padding: .25rem;
    width: 10em;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=text] {
    padding: 10px;
    margin:10px 0;
  }
